.c-white {
  color: #FFF !important; }

.section-break {
  border: none;
  border-top: 1px solid #DDD;
  margin: 25px 0;
  margin: 2.5rem 0; }

.min-list {
  padding: 0;
  margin: 0; }

.min-list li {
  list-style: none; }

.t-uppercase {
  text-transform: uppercase; }

.p-top-small {
  padding-top: 10px;
  padding-top: 1rem; }

.p-top-medium {
  padding-top: 20px;
  padding-top: 2rem; }

.p-top-large {
  padding-top: 25px;
  padding-top: 2.5rem; }

.p-top-large-plus {
  padding-top: 30px;
  padding-top: 3rem; }

.p-bottom-large {
  padding-bottom: 16px;
  padding-bottom: 1.6rem; }

.p-bottom-small {
  padding-bottom: 10px;
  padding-bottom: 1rem; }

.p-40 {
  padding: 40px; }

.p-1lf {
  padding: 0 10px;
  padding: 0 1rem; }

.p-left-padding {
  padding-left: 10px;
  padding-left: 1rem; }

.m-top-small {
  margin-top: 10px;
  margin-top: 1rem; }

.m-top-medium {
  margin-top: 20px;
  margin-top: 2rem; }

.small-padding {
  padding: 5px !important;
  padding: 0.5rem !important; }

.no-margin {
  margin: 0; }

.no-padding {
  padding: 0 !important; }

.nu {
  text-decoration: none; }

.nu:hover {
  text-decoration: underline; }

.t-left {
  text-align: left; }

.t-right {
  text-align: right; }

.t-center {
  text-align: center; }

.t-italic {
  font-style: italic; }

.t-small {
  font-size: 8.5px;
  font-size: .85rem; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.push-right {
  margin-right: 20px; }

.container:before,
.container:after,
.group:before,
.group:after {
  content: " ";
  display: table; }

.container:after,
.group:after {
  clear: both; }

.hide {
  display: none; }



.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.spacer
{
    width: 100%;

}

.border-bottom {
   border-bottom: 1px solid #ddd; 
}