.post {
    padding-bottom: 1.5rem;
    max-width: 464px;
}


.single-post__date--day {
  
  font-size: 20.2px;
  font-size: 2.02rem;
  font-weight: 700; }

.single-post__date--month {
  
  font-size: 15px;
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase; }




