.imageholder {
  position: relative; }


.imageholder .theme {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px 10px;
  color: #fff;
  font-size: 15px;
  font-size: 1.5rem;
  background-color: rgba(0, 0, 0, 0.7); }

.imageholder .theme a {
  color: #fff;
  text-decoration: none; }

